.DS_Store
.cursor/
.vscode/
results/2_meal_clustering/meal_plots.rda
CLAUDE.md
.claude/

# some large files can not be pushed to github.
results/5_synchronicity_analysis/feed_matrices.rda
results/5_synchronicity_analysis/water_matrices.rda
results/5_synchronicity_analysis/combined_matrices.rda
results/10_synchronicity_analysis_breakdown/feed_matrices/*.rda
results/10_synchronicity_analysis_breakdown/water_matrices/*.rda
results/10_synchronicity_analysis_breakdown/combined_matrices/*.rda
results/12_predictability/m2_brm_feed_visits.rds
results/12_predictability/m2_brm_water_duration.rds
results/12_predictability/m2_brm_water_visits.rds
results/11_repeatability/m1_brm_number_of_non_nutritive_visits.rds
results/11_repeatability/m1_brm_water_duration.rds
results/12_predictability/m2_brm_median_non_nutritive_per_meal.rds
results/12_predictability/m2_brm_number_of_non_nutritive_visits.rds
